@model IEnumerable<BestService.Data.Models.Company>
@using BestService.Common;

@{
    ViewData["Title"] = "Companies";
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

<div class="row">
    <div class="row d-flex">
        <div class="col-md-12 wrap-about pr-md-4 ftco-animate fadeInUp ftco-animated">
            <h1 class="mb-0">@ViewData["Title"]</h1>
            <a asp-action="Create">Create New</a>
        </div>
    </div>
    <div class="table-responsive-lg">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LogoImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OfficialSite)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeletedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @{
                                var shortDescription = item.Description.Substring(0, 50) + "...";
                            }
                            @Html.DisplayFor(modelItem => shortDescription)
                        </td>
                        <td>
                            <img src="@GlobalConstants.CloudinaryUploadDir@item.LogoImage" width="120" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OfficialSite)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeletedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>