@model BestService.Web.ViewModels.Companies.CompanyDetailsViewModel
@using BestService.Common;

@{
    ViewData["Title"] = @Model.Name + " Details";

    void DisplayComments(int? parrentId)
    {
        var comments = Model.Comments.Where(x => x.ParrentId == parrentId);
        if (!comments.Any())
        {
            return;
        }

        @foreach (var comment in comments)
        {
            <ul class="comment-list">
                <li class="comment">
                    <div class="vcard bio">
                        <img src="@GlobalConstants.CloudinaryUploadDir@comment.UserProfileImage" alt="@comment.UserUserName profile image">
                    </div>
                    <div class="comment-body">
                        <h3>@comment.UserUserName</h3>
                        <div class="meta mb-2"><time datetime="@Model.CreatedOn.ToString("O")"></time></div>
                        <p>@Html.Raw(comment.SanitizedContent)</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p><a class="reply" onclick="showAddCommentForm(@comment.Id, '@comment.UserUserName')">Reply</a></p>
                        }
                        @{ DisplayComments(comment.Id); }
                    </div>
                </li>
            </ul>
        }
    }
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">@ViewData["Title"]</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a asp-controller="Companies" asp-action="GetList">Companies <i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <form id="visit" method="post">
                <input name="company-id" type="hidden" value="@Model.Id" />
                <input id="rating-stars" type="hidden" value="@Model.Rating" />
            </form>
            <div class="col-lg-8 ftco-animate">
                @{
                    if (TempData.ContainsKey("Edited"))
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Successfully edited!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        TempData.Remove("Edited");
                    }
                }
                <!-- the actual blog post: title/author/date/content -->
                <div>
                    <h2 class="mb-3 text-left">@Model.Name</h2>
                </div>
                <span class="float-left">
                    @{
                        if (Model.IsContentEditor)
                        {
                            <a asp-controller="Companies" asp-action="Edit" asp-route-id="@Model.Id" class="mr-md-2">[ Edit ]</a>
                        }
                    }
                    <i class="fa fa-user"></i> by <a href="#">@Model.User.FullName</a>
                </span>
                @{ if (@Model.IsRateAllowed)
                    {
                        <span id="rating" class="starrating risingstar d-flex flex-row-reverse float-right list-inline-item">
                            <span class="ml-md-2"><small Id="rateAvg">(@Model.ArverageStars / 5)</small></span>
                            <span class='set'>
                                <input id="rad5" class="rad" name="rad" type="radio">
                                <label onclick="doRate(5,@Model.Id)" for="rad5" class="star fa fa-star-o"></label>
                                <input id="rad4" class="rad" name="rad" type="radio">
                                <label onclick="doRate(4,@Model.Id)" for="rad4" class="star fa fa-star-o"></label>
                                <input id="rad3" class="rad" name="rad" type="radio">
                                <label onclick="doRate(3,@Model.Id)" for="rad3" class="star fa fa-star-o"></label>
                                <input id="rad2" class="rad" name="rad" type="radio">
                                <label onclick="doRate(2,@Model.Id)" for="rad2" class="star fa fa-star-o"></label>
                                <input id="rad1" class="rad" name="rad" type="radio">
                                <label onclick="doRate(1,@Model.Id)" for="rad1" class="star fa fa-star-o"></label>
                            </span>
                            <span class="float-left">
                                <small id="rateSum" class="mr-md-2">Rates: @Model.Ratings.Count</small>
                                <small class="mr-md-2"> | </small>
                            </span>
                        </span>
                    }
                    else
                    {
                        <span class="starrating risingstar d-flex float-right">
                            <span>
                                <span>
                                    <small id="rateSum" class="mr-md-2">Rates: @Model.Ratings.Count</small>
                                    <small class="mr-md-2"> | </small>
                                </span>
                                <span style="color: #FFB300;"><i id="star1" class="fa fa-star-o"></i></span>
                                <span style="color: #FFB300;"><i id="star2" class="fa fa-star-o"></i></span>
                                <span style="color: #FFB300;"><i id="star3" class="fa fa-star-o"></i></span>
                                <span style="color: #FFB300;"><i id="star4" class="fa fa-star-o"></i></span>
                                <span style="color: #FFB300;"><i id="star5" class="fa fa-star-o"></i></span>
                                <span><small>(@Model.ArverageStars / 5)</small></span>
                            </span>
                        </span>
                    }
                }

                <hr>

                <div>
                    <p>
                        <img src="@Model.ImageUri" alt="@Model.Name" class="img-fluid">
                    </p>
                </div>
                <div class="text-break">
                    <p>@Html.Raw(Model.SanitizedContent)</p>
                </div>

                <hr />

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <small><i class="fa fa-calendar"></i> Created on: <time datetime="@Model.CreatedOn.ToString("O")"></time></small>
                        </div>
                        <div class="col-md-auto">
                            <small><i class="fa fa-comments"></i> Comments: @Model.Comments.Count()</small>
                        </div>

                        <div class="col col-lg-2">
                            <small><i class="icon-eye"></i><span id="AjaxViews"> Views: @Model.Visit </span></small>
                        </div>
                    </div>
                </div>

                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a asp-controller="Companies" asp-action="GetList" class="tag-cloud-link">Companies</a>
                        <a href="@Model.CategoryUrl" class="tag-cloud-link">@Model.CategoryName</a>
                    </div>
                </div>

                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                        <img src="@GlobalConstants.CloudinaryUploadDir@Model.User.ProfileImage" width="134" alt="@Model.User.FullName image" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                        <h3>@Model.User.FullName - Manager</h3>
                    </div>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="tag-widget post-tag-container mb-5 mt-5"> <button type="button" class="btn btn-primary btn-lg btn-block" onclick="showAddCommentForm(0)">Leave a comment</button> </div>
                }

                <h3 class="mb-5 h4 font-weight-bold pt-5 mt-5">@Model.Comments.Count() Comments</h3>

                <div class="pt-2 mt-2">
                    @{DisplayComments(null);}
                </div>

                <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
                <script type="text/javascript">
                    tinymce.init({
                        selector: "textarea",
                        plugins: ["image paste table link code media"]
                    });
                </script>
                <div class="comment-form-wrap pt-5">
                    <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" style="display:none" class="p-5 bg-light">
                        <input type="hidden" name="companyId" value="@this.Model.Id" />
                        <input type="hidden" name="parentId" value="0" />
                        <div>
                            <label id="ReplayTo"></label>
                        </div>
                        <div class="form-group">
                            <label for="Content"></label>
                            <textarea name="Content" id="Content" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                        </div>
                    </form>
                </div>
            </div> <!-- .col-md-8 -->

            <div class="col-lg-4 sidebar ftco-animate">

                <div class="sidebar-box">
                    <form asp-controller="Companies" asp-action="Details" method="get" class="search-form" autocomplete="off">
                        <div class="form-group d-flex ui-widget">
                            <span class="icon icon-search"></span>
                            <input type="text" id="companyName" name="companyName" class="form-control pl-3 ui-autocomplete-input" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>

                <vc:side-bar></vc:side-bar>

                <vc:recent-companies count="3"></vc:recent-companies>


            </div><!-- END COL -->
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        function doRate(value, companyId) {
            var token = $("#AddCommentForm input[name=__RequestVerificationToken]").val();
            var json = { stars: value, companyId: companyId };
            console.log(value, companyId);
            $.ajax({
                url: "/api/ratings",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    console.log(data.companyId);
                    //$('#rateValue' + data.companyId).html(data.rateValue);
                    $('#rateSum').html('Rates: ' + data.rateSum);
                    $('#rateAvg').html(data.rateAvg + ' / 5');
                    $('#rating-stars').html(data.rateAvg);
                }
            })
        };
        function showAddCommentForm(parentId, userName = null) {
            $("#AddCommentForm input[name='parentId']").val(parentId);

            if (parentId == 0) {
                $("#ReplayTo").hide();
            }
            else {
                console.log("Reply to: " + userName);
                $("#ReplayTo").empty();
                $("#ReplayTo").show();
                $("#ReplayTo").append("Reply to: <strong>" + userName + "</strong>");
            }

            $("#AddCommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 1000)
        };
        function increaseVisits() {
            var token = $("#visit input[name=__RequestVerificationToken]").val();
            var companyId = Number($("#visit input[name=company-id]").val());
            var json = { companyId: companyId };
            console.log(companyId);
            $.ajax({
                url: "/api/visits",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $('#AjaxViews').html(' Views: ' + data.visitCount);
                }
            })
        };

        function claculateStars() {
            var ratingStars = document.getElementById("rating-stars").value;

            for (var id = 1; id <= ratingStars; id++) {
                var element = document.getElementById('star' + id);
                element.classList.remove("fa-star-o");
                element.classList.add("fa-star");
            }
        }

        document.body.onload = function () {
            increaseVisits();
            claculateStars();
        };

        //Autocomplete
        $(document).ready(function () {
            $("#companyName").autocomplete({
                source: '/api/search/autocomplete'
            })
        })
    </script>
}