@using BestService.Common
@model BestService.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}";
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Welcome to @GlobalConstants.SystemName</span>
                    <h1 class="mb-4">You Can Find The Best Services Here</h1>
                    <p><a asp-controller="Categories" asp-action="All" class="btn btn-primary px-4 py-3 mt-3">Service Categories</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url(images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Todays Talent, Tommorow Success</span>
                    <h1 class="mb-4">We Help to Complete Your Work</h1>
                    <p><a asp-controller="Companies" asp-action="GetList" class="btn btn-primary px-4 py-3 mt-3">Companies</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Recently </span> Added Companies</h2>
                <p>These are our most recently added companies.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var company in Model.MostRecentCompanies)
            {
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id" class="block-20 d-flex align-items-end" style="background-image: url(@company.LogoImagePath);">
                            <div class="meta-date text-center p-2">
                                <span class="day">@company.CreatedOn.Day</span>
                                <span class="mos">@company.Month</span>
                                <span class="yr">@company.CreatedOn.Year</span>
                            </div>
                        </a>
                        <div class="text bg-white p-4">
                            <h3 class="heading"><a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id">@company.ShortName</a></h3>
                            <p>@company.ShortDescription</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                    <a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id" class="mr-2">Rating</a>
                                    <span><i style="font-size:1rem;" class="star1 fa fa-star"></i><small><small class="ml-md-auto">(@company.ArverageStars / 5)</small></small></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-0">You Always Get the Best Services</h2>
            </div>
        </div>
    </div>
</section>
<section class="ftco-counter" id="section-counter">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="wrapper">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="@Model.CompaniesCount">0</strong>
                                <span>Total Companies</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="@Model.CommentsCount">0</strong>
                                <span>User Comments</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="@Model.RateCount">0</strong>
                                <span>User Rates</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="@Model.Subscribers">0</strong>
                                <span>Subscribers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Most</span> Commented Companies</h2>
                <p>These are our most commented companies.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var company in Model.MostCommentedCompanies)
            {
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id" class="block-20 d-flex align-items-end" style="background-image: url(@company.LogoImagePath);">
                            <div class="meta-date text-center p-2">
                                <span class="day">@company.CreatedOn.Day</span>
                                <span class="mos">@company.Month</span>
                                <span class="yr">@company.CreatedOn.Year</span>
                            </div>
                        </a>
                        <div class="text bg-white p-4">
                            <h3 class="heading"><a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id">@company.ShortName</a></h3>
                            <p>@company.ShortDescription</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id"  class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                    <a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id" class="mr-2">Comments</a>
                                    <a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id" class="meta-chat"><span class="icon-chat"></span> @company.CommentsCount</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">What Our Users Says</h2>
            </div>
        </div>

        <vc:testimonial count="6"></vc:testimonial>
    </div>
</section>