@using BestService.Common
@model BestService.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}";
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Welcome to @GlobalConstants.SystemName</span>
                    <h1 class="mb-4">You Can Find The Best Services Here</h1>
                    <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Service Categories</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url(images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Todays Talent, Tommorow Success</span>
                    <h1 class="mb-4">We Help to Complete Your Work</h1>
                    <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Service Categories</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <h2 class="mb-4">Links</h2>
        <ul>
            <li><a href="/Companies/GetList"><h5 class="mt-0">Get All Companies</h5></a></li>
            <li><a href="/Companies/Details/16"><h5 class="mt-0">Company Details</h5></a></li>
            <li><a href="/Companies/Add"><h5 class="mt-0">Add New Company</h5></a></li>
            <li><a href="/Companies/Edit/1"><h5 class="mt-0">Edit Company</h5></a></li>
            <li><a href="/c/Construction"><h5 class="mt-0">Single Category</h5></a></li>
            <li><a href="/Comments/Create"><h5 class="mt-0">Create new comment</h5></a></li>
        </ul>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Recently </span> Added</h2>
                <p>These are our most recently added companies.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var company in Model.MostRecentCompanies)
            {
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id" class="block-20 d-flex align-items-end" style="background-image: url(@company.LogoImagePath);">
                            <div class="meta-date text-center p-2">
                                <span class="day">@company.CreatedOn.Day</span>
                                <span class="mos">@company.Month</span>
                                <span class="yr">@company.CreatedOn.Year</span>
                            </div>
                        </a>
                        <div class="text bg-white p-4">
                            <h3 class="heading"><a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id">@company.ShortName</a></h3>
                            <p>@company.ShortDescription</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                    <a href="#" class="mr-2">@company.Rating</a>
                                    <a href="#" class="meta-chat"><span class="icon-chat"></span> @company.Comments.Count</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Most</span> Commented Companies</h2>
                <p>These are our most commented companies.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var company in Model.MostCommentedCompanies)
            {
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id" class="block-20 d-flex align-items-end" style="background-image: url(@company.LogoImagePath);">
                            <div class="meta-date text-center p-2">
                                <span class="day">@company.CreatedOn.Day</span>
                                <span class="mos">@company.Month</span>
                                <span class="yr">@company.CreatedOn.Year</span>
                            </div>
                        </a>
                        <div class="text bg-white p-4">
                            <h3 class="heading"><a asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id">@company.ShortName</a></h3>
                            <p>@company.ShortDescription</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                    <a href="#" class="mr-2">@company.Rating</a>
                                    <a href="#" class="meta-chat"><span class="icon-chat"></span> @company.Comments.Count</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>All</span> Categories</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
        <div class="row">
            @foreach (var category in Model.Categories)
            {
                <div class="media col-lg-4 d-flex">
                    <img width="100" src="https://www.thebalancesmb.com/thmb/LOiSDrf5OQMWDwnZxq9ISksPMUI=/533x400/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-907736222-5bd818fa46e0fb0051685a1b.jpg" class="mr-3" alt="@category.Name">
                    <div class="media-body">
                        <a href="@category.Url"><h5 class="mt-0">@category.Name (@category.CompaniesCount)</h5></a>
                        @category.Description
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">What Our Visitors Says</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url(images/person_1.jpg)">
                            </div>
                            <div class="text pl-4">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Racky Henderson</p>
                                <span class="position">Father</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url(images/person_2.jpg)">
                            </div>
                            <div class="text pl-4">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Henry Dee</p>
                                <span class="position">Businesswoman</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url(images/person_3.jpg)">
                            </div>
                            <div class="text pl-4">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Mark Huff</p>
                                <span class="position">Businesswoman</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url(images/person_4.jpg)">
                            </div>
                            <div class="text pl-4">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Rodel Golez</p>
                                <span class="position">Businesswoman</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img" style="background-image: url(images/person_1.jpg)">
                            </div>
                            <div class="text pl-4">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Ken Bosh</p>
                                <span class="position">Businesswoman</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>