@{
    var controller = string.Empty;

    controller = ViewContext.RouteData.Values["Controller"]?.ToString().ToLower();
}
<li class="nav-item @(controller == "home" ?  "active" : string.Empty)">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item @(controller == "categories" ?  "active" : string.Empty)">
    <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="All">Categories</a>
</li>
<li class="nav-item @(controller == "companies" ?  "active" : string.Empty)">
    <a class="nav-link" asp-area="" asp-controller="Companies" asp-action="GetList">Companies</a>
</li>
<li class="nav-item @(controller == "settings" ?  "active" : string.Empty)">
    <a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
</li>
<li class="nav-item @(controller == "contacts" ?  "active" : string.Empty)">
    <a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a>
</li>
